################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SPA_List/.vs/SPA_List
/.vs
/Chall2/Challenge2/Challenge2/obj/Release
/SPA_List/SPA_List/obj/Release
/API1/.vs/API1
/WindowsFormsApplinq/.vs/WindowsFormsApplinq/v16/Server/sqlite3
