body {
    background-color: rgba(147, 27, 226, 0.59);
    font-family: Arial ;
    color: white;
    text-align: center;
}

/*button{
    float: right;
    margin: 0px 5px;
    height: 10px;
}*/
.b1{
    /*height: 10px;*/
    /*color: red;*/
}

ul {
    list-style-type: none;
    max-width: 300px;
    margin: 20px auto;
}

li{
    min-height: 20px;
    text-align: left;
    background-color: white;
    color: black;
    padding: 8px;
    margin-bottom: 5px;
}

    li button {
        float: right;
        margin: 0px 5px;
    }

.checked {
    text-decoration: line-through;
}